table {
  border: 2px solid rgb(140 140 140);
}

table>thead>tr>th:nth-child(1) {
  min-width: 2rem;
}

input {
  width: min-content;
}

tbody>tr>td>p {
  margin: 0;
}

th,
td {
  border: 1px solid rgb(160 160 160);
}
